@import url("https://fonts.googleapis.com/css?family=Anton|Roboto|Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
:root {
  --primary-color: rgba(0, 255, 255, 0.897);
  --roboto: "Roboto", sans-serif;
  --anton: "Anton", sans-serif;
  --tradeWinds: "Trade Winds", cursive;
  --monoton: "Monoton", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 200vh;
}

.top-nav-bar {
  background-image: url(images/headerbg.jpg);
  background-size: cover;
  background-color: rgba(0, 255, 242, 0.4);
  background-blend-mode: multiply;
  height: 57px;
  top: 0;
  position: sticky;
  box-shadow: 1px 1px 4px 1px blue;
  z-index: 2;
}
.logo {
  display: inline-block;
  height: 40px;
  margin: 5px 10px 0px 25px;

  font-family: var(--monoton);
  font-size: 2em;
  color: white;
  text-align: center;
}

.searchinput {
  margin-top: 9px;
  margin-left: 30px;
  border: 1px solid orange;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
  width: 100%;
}

.searchicon {
  background: orange;
  border: 7px solid orange;
  margin: 8.5px 10px 0 0;
  width: 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-box {
  display: inline-flex;
  width: 60%;
}

.fa-search {
  color: white;
}

.menu-bar {
  width: 35%;
  height: 57px;
  float: right;
}

.menu-bar ul {
  display: inline-flex;
  width: 100%;
  height: 100%;
  float: right;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.menu-bar li {
  list-style-type: none;
  font-family: var(--tradeWinds);
}
.menu-bar a {
  color: white;
  text-decoration: none;
}

.menu-bar a:hover {
  color: orange;
}

.menu-bar .fa-shopping-basket {
  margin-right: 5px;
  color: orange;
}

@media (max-width: 980px) {
  .top-nav-bar {
    height: 118px;
    border-bottom: 0;
  }
  .search-box {
    width: 100%;
  }
  .menu-bar {
    width: 100%;
  }
}
/* ----------------Side Menu-------------------- */
section.topcontainer{
    display:grid;
    grid-template-columns: 15% 85%;
    grid-auto-rows: 300px;
}
.side-menu{
  border: 1px solid black;
  overflow: hidden;
}
.slideshow-container{
  position:relative;
  border: 1px solid black;
  overflow: hidden;
}
.mySlides{
  position:absolute;

}

/* ------------horizontal multiple slider--------- */
h2{
  
  margin-top: 10px;
}
.multislide-container{
  width:100%;
  height:200px;
  margin-top: 10px;
  border: 1px solid #000;
}

.category-container{
  width:100%;
  height:200px;
  margin-top: 10px;
  border: 1px solid #000;
}

.display-container{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5,15%);
  grid-auto-rows: 150px;
  grid-gap: 30px;
  justify-content: center;
}
.display-container div{
  border: 1px solid #000;
}

/* footer */
footer {
  margin-top: 30px;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  
  bottom: 0;
  width: 100%;
  /* position: fixed;
  z-index: 1; */
}